#display{
    height: 500px;
    width: 100%;
    background-color: white;
}

#sticker-controls{
    height: 300px;
    width: 300px;
    background-color: white;
}

#myImg{
    position:absolute;
}

.allImgs{
    position:absolute;
}
