@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#nav-container{
    background-color: #333333;
}

#nav-container h5{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #CAA165;
}