.App {
  text-align: center;
}

#user-box {
    background-color: #333333;
    color: white;
}

#user-box h5{
    font-weight: 600;
}

.chat-box {
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 40%;
}

button {
    padding: 12px;
    margin: 5px;
    background-color: skyblue;
    border-radius: 10px;
    border: none;
}

.username {
    color: skyblue;
}