
.alphabet div {
    position:absolute;
    padding: 10px;
    margin: 2px;
    color: #CAA165;
    font-weight: 600;
    font-size: 20pt;
    text-transform: uppercase;
}

.pointer {
    height: 50px;
    width: 50px;
    position: absolute;
    transition: 0.3s ease;
    background-image: url('./ouija-pointer.svg');
    z-index: 5;
}
.controls {
    position: absolute;
    top: 280px;
    left: 60px;
    width: 80%;
}
.Ouija {
    background-color: white;
    height: 100%;
    border-radius: 11px 11px 11px 11px;
}
.ghost-btns {
    width: 100px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.boardBG{
    background-color: #333333;
}